body {
    padding: 0;
    margin: 0;
}
#main {
    background-color: white;
}
#main #content{    
    /*另一种居中方法
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;*/
    position: absolute;
    top: 50%; left: 50%;
    margin: -100px -200px;
    width: 400px;
    height: 200px;
    background-color: #ccc;
    z-index: 0;
}
#left-circle,#right-circle {
    width: 50px;
    height: 50px;
    background-color: #fc0;
}
#left-circle {
    border-radius: 0 0 100px 0;
    position: relative;
    bottom: 0px; right: 0px;
}
#right-circle {
    z-index: 1;
    border-radius: 100px 0 0 0;
    position: relative;
    top: 100px; left: 350px;
}